{% block extrastyle %}
{% load i18n static %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<style type="text/css">
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
  #{{ id }}_map .aligned label { float:inherit; }
  #{{ id }}_admin_map { position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
  {% if not display_wkt %}#{{ id }} { display: none; }{% endif %}
  .olControlEditingToolbar .olControlModifyFeatureItemActive {
     background-image: url("{% static "admin/img/gis/move_vertex_on.svg" %}");
     background-repeat: no-repeat;
  }
  .olControlEditingToolbar .olControlModifyFeatureItemInactive {
     background-image: url("{% static "admin/img/gis/move_vertex_off.svg" %}");
     background-repeat: no-repeat;
  }
</style>
<!--[if IE]>
<style type="text/css">
  /* This fixes the mouse offset issues in IE. */
  #{{ id }}_admin_map { position: static; vertical-align: top; }
  /* `font-size: 0` fixes the 1px border between tiles, but borks LayerSwitcher.
      Thus, this is disabled until a better fix is found.
  #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; font-size: 0; } */
</style>
<![endif]-->
{% endblock %}
<span id="{{ id }}_admin_map">
<script type="text/javascript">
//<![CDATA[
{% block openlayers %}{% include "gis/admin/openlayers.js" %}{% endblock %}
//]]>
</script>
<div id="{{ id }}_map"{% if LANGUAGE_BIDI %} dir="ltr"{% endif %}></div>
{% if editable %}
<a href="javascript:{{ module }}.clearFeatures()">{% trans "Delete all Features" %}</a>
{% endif %}
{% if display_wkt %}<p>{% trans "WKT debugging window:" %} </p>{% endif %}
<textarea id="{{ id }}" class="vWKTField required" cols="150" rows="10" name="{{ name }}">{{ wkt }}</textarea>
<div>
    <label for="{{ id }}_txt">Coordenadas:</label><input id="{{ id }}_txt" type="text" maxlength="255" />
    <p class="help">Formato Longitude, Latitude. e.g. -8.1234,40.1234</p>
</div>
<script type="text/javascript">{% block init_function %}
    function {{ module }}_map_init() {
            {{ module }}.init();
            {{ module }}.layers.vector.events.on({"featuremodified" : {{ module }}.modify_txt});
            {{ module }}.layers.vector.events.on({"featureadded" : {{ module }}.modify_txt});
            jQuery('#{{ id }}_txt').on('change', {{ module }}.txt_modified);
    }
    {{ module }}.modify_txt = function(event) {
        if (!{{ module }}.is_collection) {
          if ({{ module }}.is_point){
                var xy = new OpenLayers.LonLat(event.feature.geometry.x, event.feature.geometry.y),
                    lonlat = OpenLayers.Layer.SphericalMercator.inverseMercator(xy.lon, xy.lat);
                document.getElementById('{{ id }}_txt').value = lonlat.toShortString();
          }
        }
    }
    {{ module }}.txt_modified = function() {
        var value = document.getElementById('{{ id }}_txt').value,
            lonlat = OpenLayers.LonLat.fromString(value),
            xy = OpenLayers.Layer.SphericalMercator.forwardMercator(lonlat.lon, lonlat.lat),
            p = new OpenLayers.Geometry.Point(xy.lon, xy.lat),
            f = new OpenLayers.Feature.Vector(p);

        {{ module }}.deleteFeatures();
        {{ module }}.layers.vector.addFeatures([f]);
        {{ module }}.map.zoomToExtent(p.getBounds());
        {{ module }}.map.zoomTo({{ point_zoom }});
    }
    {% include "gis/jet_adaptor.js"%}
    {% endblock %}
</script>
</span>
